torch
torchvision
onnx
black
toml
GitPython
colorlog
cocotb[bus]
pytest
pytorch-lightning
transformers
toml
timm
pytorch-nlp
datasets
evaluate
ipython
ipdb
sentencepiece
einops
pybind11
tabulate
tensorboardx
hyperopt
accelerate
optuna
stable-baselines3[extra]
h5py
scikit-learn
scipy==1.14.1
onnxruntime
matplotlib
sphinx-rtd-theme
sphinx-needs>=4
sphinx-test-reports @ git+https://github.com/useblocks/sphinx-test-reports
sphinxcontrib-plantuml
imageio
imageio-ffmpeg
opencv-python
kornia
einops
ghp-import
optimum
pytest-profiling
myst_parser
pytest-cov
pytest-xdist
pytest-sugar
pytest-html
lightning
wandb
bitarray
bitstring
emoji
numpy<2.0
tensorboard
sphinx_needs
onnxconverter-common
absl-py
sphinx-glpi-theme
prettytable
pyyaml
pynvml
bitstring>=4.2
myst_parser
cvxpy
py-cpuinfo
pandas
psutil
Pillow==10.4.0
mpmath==1.3.0
evaluate
myst-nb
sphinx-book-theme
pydot
attr-dot-dict